  a:link,a:visited {
    color: black;
  }
  a:hover{
      color: white;
  }
  a:active{
      color: lightskyblue;
  }

  .cross{
    width: 100px;
    display: inline-block;
    position: relative;
    left: 450%;
    z-index: -2;
  }