  a:link,a:visited {
    color: black;
  }
  a:hover{
      color: white;
  }
  a:active{
      color: lightskyblue;
  }
  .rsize{
    display: inline-block;
    z-index: 1;
    width: 150px;
    height: 130px;
  }